.home > .blur-component {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 50px);
  width: calc(100vw - 50px);
}

.parent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
  padding: 10px;
}

.div1 {
  grid-row: span 5 / span 5;
  border-radius: 20px;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row: span 7 / span 7;
  /* background-color: red; */
  border-radius: 20px;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); */
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 100%);
}

.div3 {
  grid-row: span 2 / span 2;
  grid-row-start: 6;
  background-color: #eb6351;
  border-radius: 20px;
}
