.home .github-container {
  grid-row: span 2 / span 2;
  grid-row-start: 6;
  background-color: #eb6351;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: auto 20px;
}

.home .github-container h1 {
  margin-top: auto;
  font-size: 3vh;
  font-weight: 600;
}

.home .github-container p {
  font-size: 1.2vh;
  text-align: center;
  font-weight: lighter;
}

.home .github-container .image-container {
  background-color: #f49c90;
  border-radius: 3.5vh;
  width: 7vh;
  height: 7vh;
  padding: 1.2vh;
  margin: auto 0;
  transition: all ease 0.2s;
}

.home .github-container:hover .image-container {
  padding: 0;
}
