.tasks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  align-items: flex-start;
  align-content: flex-start;

  grid-column: span 3 / span 3;
  grid-row: span 7 / span 7;
  color: white;
}

.tasks-container::-webkit-scrollbar {
  display: none;
}

.tasks-container::-webkit-scrollbar {
  display: none;
}

.tasks-container .task-container {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 15px;
  border-radius: 20px;

  display: inline-block;
  width: auto;
  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tasks-container .task-container .task-title {
  display: flex;
  align-items: center;
}

.tasks-container .task-container .task-title .task-date {
  font-weight: bold;
  margin-right: auto;
}

.tasks-container .task-container .task-title button {
  margin-left: 10px;
  background-color: white;
  border-radius: 100px;
  padding: 5px;
}

.tasks-container .task-container .task-description {
  margin-top: 10px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;

  width: 100%;
  /* font: inherit; */
  /* color: inherit; */
  font-weight: lighter;

  white-space: pre-wrap;
  word-break: break-word;
}