/* HTML: <div class="loader"></div> */
.loader {
  margin: 7.5px 0;
  width: 30px;
  height: 15px;
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l3 0.75s infinite alternate;
}
@keyframes l3 {
  0% {
    inset: 0 15px 0 0;
  }
  50% {
    inset: 0 0 0 0;
  }
  100% {
    inset: 0 0 0 15px;
  }
}

/* HTML: <div class="loader-small"></div> */

.loader-small {
  margin: 3.75px 0;
  width: 15px;
  height:8px;
  position: relative;
}
.loader-small:before {
  content: "";
  position: absolute;
  border-radius: 25px;
  box-shadow: 0 0 0 1.5px inset #000;
  animation: l3-small 0.75s infinite alternate;
}
@keyframes l3-small {
  0% {
    inset: 0 7.5px 0 0;
  }
  50% {
    inset: 0 0 0 0;
  }
  100% {
    inset: 0 0 0 7.5px;
  }
}