/* Main container */
.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glass card */
.login > .blur-component {
  display: flex;
  overflow: hidden;
  height: 80vh;
  width: 90vw;
}

/* LEFT SIDE */
.left-component {
  flex: 1;
  padding: 100px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.left-component h2 {
  font-size: 54px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
}

.left-component p {
  font-size: 24px;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* Motos */
.motos {
  display: flex;
  margin-bottom: 15px;
}

.motos h6 {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

.moto-1,
.moto-2,
.moto-3 {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

/* RIGHT SIDE */
.right-component {
  width: 35%;
  min-width: 300px;
  padding: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.right-component h6 {
  margin: 0;
  font-weight: 400;
  color: gray;
  font-size: 14px;
}

.right-component h4 {
  margin: 5px 0 40px 0;
  font-size: 24px;
}

/* Inputs */
.name-field,
.username-field,
.password-field {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;

  border-radius: 100px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  outline: none;

  background: transparent;
  color: white;
  font-size: 16px;
}

/* Button */
.continue-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
  padding: 15px 25px;
  border: none;
  border-radius: 100px;

  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s;
}

.continue-button:hover,
.other-button:hover {
  width: 95%;
  padding: 20px 25px;
}

.continue-button > img,
.other-button > img {
  width: 30px;
}

.right-component .divider {
  width: 75px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.other-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 15px 25px;
  border: none;
  border-radius: 100px;

  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s;
  border: 0px solid white;
}

/* ------------------------------------------------------------- */

.animated-border {
  --border-width: 1px;
  --radius: 30px;

  position: relative;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
}

.animated-border::before {
  content: "";
  position: absolute;
  inset: 0; /* 👈 important: no negative inset */
  border-radius: inherit;
  padding: var(--border-width);

  background: conic-gradient(
    from var(--angle),
    transparent 0%,
    white 40%,
    transparent 60%
  );

  /* create hollow center */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
  animation: spin 3s linear infinite;
}

.animated-border:hover::before {
  animation-play-state: paused;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}

/* ------------------------------------------------------------ */

/* HTML: <div class="loader"></div> */
/* .loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
} */

/* -------------------------------------------------------- */

/* HTML: <div class="loader"></div> */
.loader {
  margin: 7.5px 0;
  width: 30px;
  height: 15px;
  position: relative;
}
.loader:before {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l3 0.75s infinite alternate;
}
@keyframes l3 {
  0% {
    inset: 0 15px 0 0;
  }
  50% {
    inset: 0 0 0 0;
  }
  100% {
    inset: 0 0 0 15px;
  }
}
