.blur-component {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 30px;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../src/assets/fonts/Inter_28pt-ExtraLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../src/assets/fonts/Inter-28pt-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../src/assets/fonts/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

.animated-border {
  --border-width: 1px;
  --radius: 30px;
  position: relative;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
}

.animated-border::before {
  content: "";
  position: absolute;
  inset: 0; /* 👈 important: no negative inset */
  border-radius: inherit;
  padding: var(--border-width);

  background: conic-gradient(
    from var(--angle),
    transparent 0%,
    white 40%,
    transparent 60%
  );

  /* create hollow center */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
  animation: spin 3s linear infinite;
}

.animated-border:hover::before {
  animation-play-state: paused;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}
