.new-task-container {
  grid-row: span 5 / span 5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5%;
}

.home .new-task-container img {
  border-radius: 50%;
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.home .new-task-container h4 {
  text-align: center;
  color: rgba(255, 255, 255, 0.37);
  margin-top: 20px;
  font-size: 18px;
}

.home .new-task-container .note-form {
  height: 70px;
  /* margin-top: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: calc(100% - 40px);
  border-radius: 100px;
  padding: 5px;
  margin: auto 20px 20px 20px;
}

.home .new-task-container .note-form input {
  width: calc(100% - 60px);
  padding: 20px;
  /* margin-bottom: 15px; */

  /* border-radius: 100px; */
  /* border: 3px solid rgba(255, 255, 255, 0.2); */
  outline: none;

  background: transparent;
  color: black;
  font-size: 16px;
}

.home .new-task-container .note-form .note-submit-button {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}